---
import LandingLayout from '../components/landing/LandingLayout.astro';
import Hero from '../components/landing/Hero.astro';
import ValueProposition from '../components/landing/ValueProposition.astro';
import FeatureGrid from '../components/landing/FeatureGrid.astro';
import ScreenshotShowcase from '../components/landing/ScreenshotShowcase.astro';
import ProviderLogos from '../components/landing/ProviderLogos.astro';
import ArchitectureTeaser from '../components/landing/ArchitectureTeaser.astro';
import CTASection from '../components/landing/CTASection.astro';
---

<LandingLayout>
	<main>
		<Hero />
		<ValueProposition />
		<FeatureGrid />
		<ScreenshotShowcase />
		<ProviderLogos />
		<ArchitectureTeaser />
		<CTASection />
	</main>
</LandingLayout>
