---
import LandingLayout from '../layouts/LandingLayout.astro';
import Header from '../components/landing/Header.astro';
import Hero from '../components/landing/Hero.astro';
import ValueProps from '../components/landing/ValueProps.astro';
import FeatureGrid from '../components/landing/FeatureGrid.astro';
import ScreenshotShowcase from '../components/landing/ScreenshotShowcase.astro';
import ProviderLogos from '../components/landing/ProviderLogos.astro';
import ArchitectureTeaser from '../components/landing/ArchitectureTeaser.astro';
import CTA from '../components/landing/CTA.astro';
import ProjectNote from '../components/landing/ProjectNote.astro';
import SiteFooter from '../components/landing/SiteFooter.astro';
---

<LandingLayout>
	<Header />
	<main>
		<Hero />
		<ValueProps />
		<FeatureGrid />
		<ScreenshotShowcase />
		<ProviderLogos />
		<ArchitectureTeaser />
		<CTA />
		<ProjectNote />
	</main>
	<SiteFooter />
</LandingLayout>
